*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, #9ca5c0 20%, #009999 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;

}

header{
    /* background: rgba(206, 195, 186, 0.945); */
    min-height: 100px;
    padding-top: 50px;
    margin-bottom: -194px;
    


}
nav ul{
    
    display: flex;
    margin: 0 420px;
   
}
nav li{
    list-style: none;
    margin-right: 5px;
    position: relative;

    
    
}
nav li a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    transition: 0.5s;
    /* line-height: 90px; */


}
nav li a:hover{

    background: #0000003d;
    color: #ffff;
}
ul.dropmenu{
  flex-direction: column;
  position: absolute;
  left: -9999px;
   top:30px;
   width: 135px;
   margin: 0;
  background: #9ca5c0;



}
ul li:hover .dropmenu{
    left: 0;

}
 .dropmenu li a{
   line-height: 45px;
}


.div-cls3{
    text-align: center;
    margin: 950px 0 0 0;
}

button {
    padding: 10px 30px;
    background: rgb(245, 161, 82);
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.div-cls3,
h1 {
    margin: 250px 0 0 0;
}

.div-cls3,
p {
    margin: 20px;
}

.div-cls3,
button {
    margin: 10px;
}
img{
    margin-top: 40px;
}
